<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <title>Detalhes</title>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <main>
      <div class="box">
        <div class="cardtotal">
          <div class="card-box">
            <a
              href="/detalhes/<%= caixa.id_caixa %> "
              title="Caixa <%= caixa.nome %> "
            >
              <div class="img-card">
                <img src="<%= caixa.img %> " alt="Caixa <%= caixa.nome %> " />
              </div>

              <h3 class="nome"><%= caixa.nome %></h3>
            </a>

            <div class="box-icon">
              <img
                src="https://cdn.pixabay.com/photo/2014/04/03/00/39/money-bag-308983_960_720.png"
                alt="Valor"
              />
              <h3><%= caixa.valor %></h3>
            </div>
          </div>

          <div class="icon">
            <a
              href="/editar/<%= caixa.id_caixa %>"
              class="animate"
              title="Clique para editar"
            >
              <img
                src="https://img.icons8.com/external-icongeek26-linear-colour-icongeek26/344/external-edit-file-documents-icongeek26-linear-colour-icongeek26.png"
                alt=""
              />
            </a>

            <a
              href="/deletar/<%= caixa.id_caixa %>"
              class="animate"
              title="Clique para excluir"
            >
              <img src="https://img.icons8.com/color/344/delete.png" alt="" />
            </a>
          </div>
        </div>

        <div class="detalhes">
          <h2><span>Tamanho da Caixa:</span> <%= caixa.medidas %></h2>

          <h2><span>Tempo de fabricação:</span> <%= caixa.tempocriacao %></h2>

          <h2>
            <span>Quantidade minima desejada:</span> <%= caixa.quantidademinima
            %>
          </h2>

          <h2><span>Descrição:</span> <%= caixa.descricao %></h2>
        </div>
      </div>
    </main>


   <!-- ----------------------- Div prontas para analise geral da ideia do
    projeto!--------------------------------------------------------------------- -->

    
    <!-- <header>
 <a href="/"> <H1>Estudio da Bia</H1></a>

  <p> Somo Nº 1 no mercado de caixas personalizadas para festas!</p>

  <h2>
    Caso não encontre o que procura, você pode adicionar suas opções clicando aqui: 
    <a href="/criar">
      <button type="buton" class="btn-red btn"> criar</button>
    </a>
  </h2>
</header>

    <div class="box">
      <div class="cardtotal">
        <div class="card-box">
          <a
            href="/detalhes/1 "
            title="Caixa Milk "
          >
            <div class="img-card">
              <img src="https://images.tcdn.com.br/img/img_prod/504105/caixa_milk_4_1_20170206193711.jpg " alt="Caixa Milk " />
            </div>

            <h3 class="nome">Milk</h3>
          </a>

          <div class="box-icon">
            <img
              src="https://cdn.pixabay.com/photo/2014/04/03/00/39/money-bag-308983_960_720.png"
              alt="Valor"
            />
            <h3>      3,50      </h3>
          </div>
        </div>

        <div class="icon">
          <a
            href="/editar/1"
            class="animate"
            title="Clique para editar"
          >
            <img
              src="https://img.icons8.com/external-icongeek26-linear-colour-icongeek26/344/external-edit-file-documents-icongeek26-linear-colour-icongeek26.png"
              alt=""
            />
          </a>

          <a
            href="/deletar/1"
            class="animate"
            title="Clique para excluir"
          >
            <img src="https://img.icons8.com/color/344/delete.png" alt="" />
          </a>
        </div>
      </div>

      
    <div class="detalhes">
    
      <h2><span>Tamanho da Caixa:</span>       8cm x 13cm      </h2>

      <h2><span>Tempo de fabricação:</span>       3 minutos      </h2>

      <h2><span>Quantidade minima desejada:</span>       255  </h2>

      <h2><span>Descrição:</span>       As comemorações de aniversário sempre deixam muitas pessoas animadas, afinal, são garantia de diversão entre amigos e familiares. Quando se trata de festas infantis, as crianças ficam ainda mais entusiasmadas, seja com o bolo, com a decoração e com vários detalhes, como a caixa milk. No hall de lembrancinhas, esse é um ornamento clássico que faz sucesso em diversos eventos. Pode ter totalmente personalizado de modo criativo e surpreendente, de acordo com o tema da festa.       </h2>
    </div>
    </div> -->
  </body>
</html>
